div{
    display: block;
}
.logo{
    width: 50%;
    margin: 200px auto 0 auto;
}
#logo-image{
    display: block;
    width: 273px;
    margin: auto;
}
.search-bar{
    display: block;
    width: 475px;
    height: 40px;
    margin: 25px auto 0 auto;
    border-radius: 0;
    color: black;
    font-size: 16px;
    border-color: rgb(253, 253, 253);
    border-width: 1px;
    box-shadow: 0 3px 1px rgb(197, 194, 194);
    font-family: Arial, Helvetica, sans-serif;
}
.search-bar:hover{
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bottom-buttons p{
    position: relative;
    top: 40px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 98, 98);
    border: 1px solid rgb(240, 240, 240);
    padding: 10px 15px;
    background-color: rgb(240, 240, 240);
    font-size: 10pt;
    font-weight: 700;
    margin: 4px;
}
.bottom-buttons{
    width: 287px;
    margin: auto;
}
.bottom-buttons p:hover{
    border-color: rgb(134, 134, 134);
}