div{
    display: block;
}
.logo{
    width: 50%;
    margin: 200px auto 0 auto;
}
#logo-image{
    display: block;
    width: 273px;
    margin: auto;
}
.search-bar{
    display: block;
    width: 475px;
    height: 40px;
    margin: 25px auto 0 auto;
    border-radius: 0;
    color: black;
    font-size: 16px;
    border-color: rgb(253, 253, 253);
    border-width: 1px;
    box-shadow: 0 3px 1px rgb(197, 194, 194);
}